<!-- home.html -->
{% extends 'base.html' %} {% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/game1.css') }}">

<div class="container">

    <div id="text_container">
        <div class="titles"> Resumo sobre o tema: {{ info_dict.tema }} </div>
        <div class="timer" id="timer">00:00:00</div>
        <button id="startButton">Start</button>
        <p id="inner_text">
            {{ info_dict.resumo | nl2br }}
        </p>
        <button id="finishButton">Finish</button>
        <div id="WRDS_SZ" style="font-weight: bold;"></div>
    </div>


    <br>
    <br>
    <hr>


    <div id="container_questions">

        <div class="titles">Perguntas sobre o texto:</div>
        {% for pergunta_e_alternativas in info_dict.perguntas %}
        <div class="question">
            <p class="pergunta">{{ pergunta_e_alternativas.pergunta }}</p>
            <div class="alternatives">
                {% for alternativa in pergunta_e_alternativas.alternativas %}
                <input type="radio" name="{{ pergunta_e_alternativas.index_pergunta }}" value="{{ alternativa }}" required>
                <label for="{{ pergunta_e_alternativas.index_pergunta }}{{ loop.index }}">{{ alternativa }}</label><br> {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>
    <input class="button" type="submit" value="Enviar Respostas" onclick="calculateScore({{ info_dict }})">
    <div id="final_result"></div>

</div>


<div class="overlay" id="overlay">
    <div id="box">
        <h1>RESULTADO</h1>
        <div class="result" id="result"></div>
        <button onclick="closeBox()">Close</button>
    </div>
</div>



<script>
    var text_recovery = document.getElementById("inner_text")
    var SZ = text_recovery.textContent.trim().split(/\s+/).length;
    document.getElementById("WRDS_SZ").innerHTML = `This text contains: <b>${SZ}</b> words.`;

    var startTime;
    var timerInterval;
    var timerElement = document.getElementById("timer");


    function startTimer() {
        startTime = new Date().getTime();
        timerInterval = setInterval(updateTimer, 1000);
    }

    function updateTimer() {
        var currentTime = new Date().getTime();
        var elapsedTime = currentTime - startTime;
        var minutes = Math.floor(elapsedTime / 60000);
        var seconds = Math.floor((elapsedTime % 60000) / 1000);
        var formattedTime = padNumber(minutes) + ":" + padNumber(seconds);
        timerElement.textContent = formattedTime;
    }

    function padNumber(number) {
        return number.toString().padStart(2, "0");
    }

    function finishTimer() {

        clearInterval(timerInterval);
        var minutes = Math.floor((new Date().getTime() - startTime) / 60000);
        var seconds = Math.floor(((new Date().getTime() - startTime) % 60000) / 1000);

        var TOTAL_MIN = (minutes * 60 + seconds) / 60;
        var text_recovery = document.getElementById("inner_text")
        var WRDS_SZ = text_recovery.textContent.trim().split(/\s+/).length;

        var PPM = WRDS_SZ / TOTAL_MIN;
        PPM = Math.round(PPM)

        openBox("Você alcançou uma marca de " + PPM + " PPM!")

    }











    function calculateScore(info_dict) {
        teste = info_dict;
        var POINTS = 0;

        // GET ALL POSSIBLE INPUT NAMES
        var inputElements = document.getElementsByTagName('input');
        var inputNames = [];
        for (var i = 0; i < inputElements.length; i++) {
            var name = inputElements[i].name;
            if (name && !inputNames.includes(name)) {
                inputNames.push(name);
            }
        }


        // FOR EACH QUESTION...
        inputNames.forEach(element => {
            var radioButtons = document.getElementsByName(`${element}`);

            for (var i = 0; i < radioButtons.length; i++) {
                if (radioButtons[i].checked) {
                    selectedValue = radioButtons[i].value;
                    break;
                }
            }

            var correct_answer = info_dict['perguntas'][element]['resposta_correta']

            if (correct_answer == selectedValue) {
                POINTS += 1;
            }

        });

        var QT_QUESTIONS = info_dict['perguntas'].length

        var message = `Total Points: ${POINTS}/${QT_QUESTIONS}`;

        console.log(message);
        openBox(message)

    }








    document.getElementById("startButton").addEventListener("click", startTimer);
    document.getElementById("finishButton").addEventListener("click", finishTimer);


    function openBox(message) {
        var overlay = document.getElementById("overlay");
        overlay.style.display = "block";
        var resultElement = document.getElementById("result");

        // Displays Message
        resultElement.textContent = message;
    }

    function closeBox() {
        console.log("Im in here")
        var overlay = document.getElementById("overlay");
        overlay.style.display = "none";
        const questions_container = document.getElementById('container_questions');
        questions_container.style.filter = 'blur(0px)';

        const text_container = document.getElementById('text_container');
        text_container.style.filter = 'blur(10px)';
    }
</script>
{% endblock %}